<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.relaychat.app.icons.tests">
    <application android:label="RelayChat icon tests" />
    <instrumentation android:name="com.relaychat.app.icons.IconInstrumentation"
        android:targetPackage="com.relaychat.app" />
</manifest>
